<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count<%= " tile_stats_count_link" if defined?(link) %>">
  <% if defined?(link) %>
    <a class="tile_link" href="<%= link %>">
  <% end %>
  <span class="count_top"><i class="fa fa-bug"></i> <%= title %></span>
  <div class="count <%= bug_count.to_i > 0 ? "red" : "green" %>">
    <%= bug_count.to_i %>
    <span><%= bug_count == 1 ? "Bug" : "Bugs" %></span>
  </div>
  <% if defined?(old_bug_count) && !old_bug_count.nil? %>
    <% diff = bug_count.to_i - old_bug_count %>
    <span class="count_bottom">
      <i class="<%= diff > 0 ? "red" : "green" %>">
        <% if diff != 0 %>
          <i class="fa fa-arrow-<%= diff > 0 ? "up" : "down" %>"></i>
        <% end %>
        <%= sprintf("%+d", diff) %>
      </i>
      From Last Week
    </span>
  <% end %>
  <% if defined?(link) %>
    </a>
  <% end %>
</div>
