.row
  = render "partials/card", card_title: "Bugzilla", card_subtitle: "YaST Team Bugs" do
    .row.tile_count
      = render "bug_tile", title: "Total Open Bugs", bug_count: @bugstat.try(:total_open),
        link: "/bugzilla/index.html", old_bug_count: @bugstat_old.try(:total_open)
      = render "bug_tile", title: "Closed Bugs Since 01-01-2016", bug_count: @closed_bugstat.try(:total_closed),
        link: "/bugzilla/graphs.html#echart_closed_bugs_resolution", old_bug_count: @closed_bugstat_old.try(:total_closed)
      = render "bug_tile", title: "P1 Bugs", bug_count: @bugstat.try(:p1),
        link: "/bugzilla/summary.html#critical_bugs", old_bug_count: @bugstat_old.try(:p1)
      = render "bug_tile", title: "P2 Bugs", bug_count: @bugstat.try(:p2),
        link: "/bugzilla/summary.html#critical_bugs", old_bug_count: @bugstat_old.try(:p2)
      = render "bug_tile", title: "Yast2-maintainers Bugs", bug_count: @y2maintainers,
        link: "/bugzilla/summary.html#y2maintainers_bugs"

.row
  = render "partials/card", card_title: "Open Build Service" do
    h4
      | Important Builds in the Public OBS
      small
        |  (build.opensuse.org)

    h5 YaST:Head

    - if @obs_head_failures && @obs_head_factory_failures && @obs_head_tw_failures
      .row.tile_count
        = render "obs_tile", title: "YaST:Head", bug_count: @obs_head_failures, obs: :obs
        = render "obs_tile", title: "YaST:Head/Factory", bug_count: @obs_head_factory_failures
        = render "obs_tile", title: "YaST:Head/Tumbleweed", bug_count: @obs_head_tw_failures
    - else
      = render "partials/data_not_available"

    br
    h4
      | Important Builds in the Internal OBS
      small
        |  (build.suse.de)

    - if @ibs_head_sle15_failures && @ibs_casp1_failures && @ibs_sp2_failures
      .row.tile_count
        = render "obs_tile", title: "Devel:YaST:Head", bug_count: @ibs_head_sle15_failures, obs: :ibs
        = render "obs_tile", title: "Devel:YaST:CASP:1.0", bug_count: @ibs_casp1_failures, obs: :ibs
        = render "obs_tile", title: "Devel:YaST:SLE-12-SP2", bug_count: @ibs_sp2_failures, obs: :ibs
    - else
      = render "partials/data_not_available"

.row
  = render "partials/card", card_title: "Jenkins" do
    h4
      | Public Jenkins
      small
        |  (ci.opensuse.org)

    - if @pjenkins_y2_failures && @pjenkins_yui_failures && @pjenkins_yuistg_failures
      .row.tile_count
        = render "jenkins_tile", title: "Failed yast-*-master jobs", bug_count: @pjenkins_y2_failures
        = render "jenkins_tile", title: "Failed libyui-*-master jobs", bug_count: @pjenkins_yui_failures
        = render "jenkins_tile", title: "Failed libyui-*-staging jobs", bug_count: @pjenkins_yuistg_failures
    - else
      = render "partials/data_not_available"

    h4
      | Internal Jenkins
      small
        |  (ci.suse.de)

    - if @ijenkins_y2_failures && @ijenkins_y2c_failures && @ijenkins_yui_failures
      .row.tile_count
        = render "jenkins_tile", title: "Failed yast-*-master jobs", bug_count: @ijenkins_y2_failures
        = render "jenkins_tile", title: "Failed yast-*-CASP jobs", bug_count: @ijenkins_y2c_failures
        = render "jenkins_tile", title: "Failed libyui-*-SLE-12 jobs", bug_count: @ijenkins_yui_failures
    - else
      = render "partials/data_not_available"

.row
  = render "partials/card", card_title: "GitHub" do
    h4 The YaST Organization
    - if @gh_yast_pulls && @gh_yast_issues
      .row.tile_count
        = render "gh_tile", title: "Open Pull Requests", bug_count: @gh_yast_pulls,
          link: "https://github.com/search?q=org%3Ayast+is%3Apr+is%3Aopen"
        = render "gh_tile", title: "Open Issues", bug_count: @gh_yast_issues,
          link: "https://github.com/search?q=org%3Ayast+is%3Aissue+is%3Aopen&type=Issues"
    - else
      = render "partials/data_not_available"

    h4 The Libyui Organization
    - if @gh_libyui_pulls && @gh_libyui_issues
      .row.tile_count
        = render "gh_tile", title: "Open Pull Requests", bug_count: @gh_libyui_pulls,
          link: "https://github.com/search?q=org%3Alibyui+is%3Apr+is%3Aopen"
        = render "gh_tile", title: "Open Issues", bug_count: @gh_libyui_issues,
          link: "https://github.com/search?q=org%3Alibyui+is%3Aissue+is%3Aopen&type=Issues"
    - else
      = render "partials/data_not_available"
