= render "partials/page_title" do
  h2
    span.fa.fa-fw.fa-cogs
    | Jenkins Build Errors

.row
  = render "partials/card", card_title: "Public Jenkins" do
    h4#public_yast_failures
      a[href="https://ci.opensuse.org/view/Yast/"] YaST Build Failures
    = render "failures", failures: @public_yast_failures, table_id: "public_yast_failures_table"

    hr

    h4#public_libyui_failures
      a[href="https://ci.opensuse.org/view/Yast/"] LibYUI Build Failures
    = render "failures", failures: @public_libyui_failures, table_id: "public_libyui_failures_table"

    hr

    h4#public_other_failures
      a[href="https://ci.opensuse.org"] Other Build Failures
    = render "failures", failures: @public_other_failures, table_id: "public_other_failures_table"

.row
  = render "partials/card", card_title: "Internal Jenkins" do
    h4#internal_yast_failures
      a[href="https://ci.opensuse.org/view/Yast/"] YaST Build Failures
    = render "failures", failures: @internal_yast_failures, table_id: "internal_yast_failures_table"

    hr

    h4#internal_libyui_failures
      a[href="https://ci.opensuse.org/view/Yast/"] LibYUI Build Failures
    = render "failures", failures: @internal_libyui_failures, table_id: "internal_libyui_failures_table"

    hr

    h4#internal_other_failures
      a[href="https://ci.opensuse.org"] Other Build Failures
    = render "failures", failures: @internal_other_failures, table_id: "internal_other_failures_table"
